<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A green-screen WebRTC demo based on OpenTok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenTok Green Screen Demo Call</title>

    <meta name="apple-mobile-web-app-title" content="OpenTok Green Screen Demo">
    <meta name="application-name" content="OpenTok Green Screen Demo">
    <meta name="theme-color" content="#0080ab">

    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <body class="default">

      <section class="page-container">

        <div class="highlight leader">
          <h1 class="page-title">Green Screen</h1>

          <p>Put a green screen behind you and hit the start button.</p>

          <div class="highlight">
            <a class="btn btn-large" href="/api/session/create?redirect=true">Start a call</a>
          </div>
        </div>

      </section>

      <footer>
        <p>This demo runs on <a href="https://tokbox.com" target="_blank">TokBox</a> | <a href="https://github.com/kaustavdm/opentok-green-screen" target="_blank">View Source</a></p>
      </footer>

    </body>
</html>
